/**
 * Table of Contents
 *
 * 1.0 - Header
 * 2.0 - Content
 * 3.0 - Footer
 * 
 */
 body {
    font-weight:500;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
 }
 h1 {
    font-weight:300;
 }
/**
 * 1.0 - Header
*/
.site-header-main {
    background: #333333;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
}

.primary-navigation a{
    color:#aaaaaa;
    text-decoration:none;
}
.primary-navigation {
    display:flex;
    justify-content: space-between;
    margin: 0;
    line-height: 1.5em;
}
.primary-navigation ul{
    display:flex;
    padding:0;
    line-height: 1.5em;
    margin:0;
    
}
.primary-navigation li{
    list-style-type: none;
    margin:0 0.5em 0 0.5em;
    font-size:0.8em;
    font-family:Arial;
}
/*
* 2.0 - Content
*/
.site-main {
    max-width: 1300px;
    margin: 100px auto 0 auto;
    display:flex;
}
.site-main p {
    word-break:keep-all; 
    word-wrap:break-word;
}
.site-main .posts {
    width: 65%;
    margin-right: 5%;
}
.site-main .siderbar {
    width: 30%;
}
.site-main .loop-title {
    text-decoration:none;
    font-size: 1.3em;
    color:darkcyan;
    font-weight: 700;
}
.site-main .loop-content{
    height:150px;
    overflow: hidden;
}
.site-main .content{
    margin-top:2em;
}

.site-main .single-title {
    font-size: 1.3em;
    font-weight: 700;
}
.site-main li{
    margin:1em 0 1em 0;
}
/**/
.language {
    width: 200px;
    height: 30px;
}
.posts {
    display:flex;
    flex-direction: column;
}
.comment {
    resize: none;
    width:100%;
    height:6em;
    font-size:1.5em;
}

/**/
.siderbar .new-article {
    width:200px;
    height:30px;
    margin-top:10px;
    display:block;
    text-align:center;
    text-decoration:none;
    font-size:1.5em;
    background-color:#2bb86d;
    border-radius:5px;
    color:white;
}


/**
* 3.0 - Footer
*/
.col-full {
    max-width: 1300px;
    margin: 100px auto 0 auto;
}
.col-full .credit{
    font-size:0.8em;
    color:#777777;
    font-family:Arial;
}

/**
 *  4.0 - submit article
 */
.submit-article-form {
   display: flex;
   flex-direction: column; 
}
.submit-article input{
    line-height: 2em;
}
.submit-article .language p{
    line-height: 2em;
    margin: 0;
}
.submit-article .language {
    display: flex;
}
.submit-article .language-submit{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.submit-article select {
    -moz-appearance: none;
    -webkit-appearance:none;
    appearance:none;  
    margin-left:1em;
}
/**
 * 5.0 - login
 */

.login-body { 
    display: flex;
    justify-content: center;
}
.login {
    display: flex;
    width: 300px;
    height: 300px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login input {
    border: 0;
    padding: 1em 0.8em;
    background: white;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
}
.login input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    -webkit-text-fill-color: #555;
}

.group-inputs {
    border: 1px solid #d5d5d5;
}
.bottom-line{
    border-bottom: 1px solid #d5d5d5;
}

/*
 * 6.0 - user
 */
.user .data {
    display: flex;
    flex-direction:column;
}
.user .avatar {
    width  : 200px;
    height : 200px;
    border-radius : 200px;
    overflow : hidden;
    background: black;
    position: relative;
}
.user .avatar img{
    width  : 200px;
}
.user .avatar p{
    width: 100%;
    line-height: 200px;
    margin: 0;
    text-align: center;
    position: absolute;
    color: white;
    opacity: 0;
}
.user .avatar:hover p{
    opacity:1;
    z-index: 10;
}
.user .avatar:hover img{
    opacity:0.5;
}
.user .nick-name {
   font-size:1.5em; 
}
.user input {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: 50;
    cursor : pointer;
}
